body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);

}

.nav-links{
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items:center;
  list-style: none;
}

.home-nav{
  font-size:large;
  font-style:italic;
  color: purple;
}

.recipe-nav{
  font-size:large;
  font-style:italic;
  color: purple;
}

.add-nav{
  font-size:large;
  font-style:italic;
  color: purple;
}

.titleGo{
  font-size: xx-large;
  font-style:oblique;
}